# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
llm_config {
    class = "openai"
    model_name = "gpt-4.1-mini"
    # temperature = "0.1"
}
    "max_iterations": 40000, #3000
    "max_execution_seconds": 7200, #600
    "tools": [
        {
            "name": "thinking_module_bench",
            "function": {
                "description": """
You are a reasoning module. You will receive a 'problem' and you will solve the problem using chain-of-thought reasoning.
Return the solution on the last line after >>>> with no extra explanation or formatting.
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "problem": {
                            "type": "string",
                            "description": "An input instance to reason on."
                        },
                    },
                    "required": ["problem"]
                }
            },

            "instructions": """
You are a reasoning module. You will receive a problem, 'P' to solve and return the result.
Return the solution on the last line after >>>> with no extra explanation or formatting.
""",
        },
    ]
}