
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
llm_config {
    class = "openai"
    model_name = "gpt-4.1-mini"
    # temperature = "0.1"
}
    "max_iterations": 40000, #3000
    "max_execution_seconds": 7200, #600
    "tools": [
        {
            "name": "decomposer",
            "function": {
                "description": """
You receive a problem statement and you break it into two sub-problems.
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "problem": {
                            "type": "string",
                            "description": "Description of a problem."
                        },
                    },
                    "required": ["problem"]
                }
            },

            "instructions": """
You receive a problem, 'P', and break it into two sub-problems, 'P1' and 'P2', that, if solved can be easily used to solve 'P'.
Here is how we can formalize this:
'P' = C('P1', 'P2') where 'C' is how we should combine the solutions to 'P1' and 'P2'.
As long as the complexity of 'P1' and 'P2' are less than 'P', we are fine.

If 'P' is obvious and simple to solve, or cannot be broken into two independent sub-problems,
return the original 'P', like this: 'vote:' P1=[P], P2=[None], C=[None]
Make sure 'P' is specified.

Break 'P' into two sub-problems and return them on the last line after 'vote:' as follows: P1=[p1], P2=[p2], C=[c]
where 'p1', 'p2' are your formulations for the two sub-problems, and 'c' is how to combine their solutions in order to solve 'P'.

Note that 'p1', and 'p2' will be passed on to another agent to solve them with no other context, and so they need to be clearly defined and self contained.

Make sure 'p1', 'p2', and 'c' are clearly and completely specified with no ambiguity.
Remember, there should NOT be any reference to 'p1' in the definition of 'p2'.

Note that the sub-problems are meant to be solved in parallel so they should be self-contained and independent from each other,
and the solution to one cannot depend on the solution of the other.
""",
        },
     ]
}
