name: Test

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    if: >
      (github.event_name == 'push' && github.ref != 'refs/heads/main') ||
      (github.event_name == 'pull_request' && github.base_ref == 'main')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Check if PR is from a fork
        id: fork_check
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            if [ "${{ github.event.pull_request.head.repo.full_name }}" != "${{ github.repository }}" ]; then
              echo "is_fork=true" >> $GITHUB_OUTPUT
            else
              echo "is_fork=false" >> $GITHUB_OUTPUT
            fi
          else
          # Not a PR — so it's not a fork
            echo "is_fork=false" >> $GITHUB_OUTPUT
          fi

      - name: Install dependencies
        run: |
          pip install -r requirements-build.txt
          pip install -r requirements.txt

      - name: Show installed packages
        run: pip freeze

      - name: Run make lint-check
        # We run this check-only step to break the build if
        # formatting changes are needed
        run: make lint-check

      - name: Run make test
        run: make test
        env:
          AGENT_TOOL_PATH: "./neuro_san/coded_tools"
          PYTHONPATH: ${{ env.PYTHONPATH }}:"."

      - name: Check README renders correctly on PyPI
        run: |
          pip install readme_renderer readme_renderer[md]
          python -m readme_renderer README.md

      - name: Check for broken links
        uses: lycheeverse/lychee-action@v2
        with:
          args: "--offline --no-progress './**/*.md'"
          fail: true

      - name: Notify Slack on success
        if: success() && steps.fork_check.outputs.is_fork == 'false'
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "text": "✅ *Tests Passed* for `${{ github.repository }}` on `${{ github.ref_name }}`"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Notify Slack on failure
        if: failure() && steps.fork_check.outputs.is_fork == 'false'
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "text": "❌ *Tests Failed* for `${{ github.repository }}` on `${{ github.ref_name }}`"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
